.card-wrapper {
    margin: 1% 0;
  }
  
/* You can adjust the image size by increasing/decreasing the width, height */
.custom-circle-image {
  width: 7vw; /* note i used vw not px for better responsive */
  height: 7vw;
}

.custom-circle-image img {
  object-fit: cover;
}

.card-title {
  letter-spacing: 0.6px;
}

.card-text {
  font-family: Georgia;
  font-size: 22px;
  line-height: initial;
}

.dropzone {
  border-style: dashed;
}


.error {
  font-family: Georgia;
  font-size: 30px;
  line-height: initial;
  color: blue;
  text-align: center;
}

#classTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#classTable td, #classTable th {
  border: 1px solid #ddd;
  padding: 4px;
}

#classTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ff2de3;
  color: white;
}